body {
    background-color: #000;
    color: #fff;
    font-family: "poppins", sans-serif;
}

.navbar{
    box-shadow:0 2px 15px rgba(0, 123, 255, 0.2);
}

.art-card{
    background-color: #111;
    border: 2px solid #fff;
    border-radius:15px;
    transition: transform 0.3s, box-shadow 0.3s;
}